<div class="logoDivLargeScreen">
    <figure><a routerLink="/"><img class="logoImg" src="assets/images/header/logo2.jpg" /></a>
        <figcaption></figcaption>
    </figure>
</div>
<div class="divForMargin"></div>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="logoDivMobileScreen navbar-brand">
        <figure><a routerLink="/"><img class="logoImg" src="assets/images/header/logo2.jpg" /></a>
            <figcaption></figcaption>
        </figure>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item" routerLinkActive="active" *ngFor="let section of sections">
                <a class="nav-link" routerLink="/section/{{ section.title | lowercase }}"
                    *ngIf="section.isVisibleInMenu">{{ section.title | titlecase }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngFor="let groupSection of groupSections">
                <a class="nav-link" routerLink="/groupSection/{{ groupSection.title| lowercase }}"
                    *ngIf="groupSection.isVisibleInMenu">{{ groupSection.title | titlecase }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/price">Tarifs</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>