<div class="footerDiv container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-2" *ngIf="isAuth">
                <span class="spanSignOut" (click)="onSignOut()">Déconnexion</span>
            </div>
            <div class="col-md-2" *ngIf="isAuth">
                <a routerLink="/admin">Admin</a>
            </div>
            <!-- <div class="col-md-2" *ngIf="!isAuth">
                <a routerLink="/auth/signin">Connexion</a>
            </div> -->
        </div>
    </div>
</div>