.footerDiv{
    min-width: 200px;
    background-color: rgb(37, 37, 37);
    padding: 10px 0 10px 0;
    min-height: 300px;
}

.footerDiv a, .footerDiv a:hover{
    color:white;
    text-decoration: none;
}

.spanSignOut{
    color:white;
    cursor: pointer;
}