<div class="container" *ngIf="groupSection">
    <div class="col-md-8 offset-md-2 col-12 text-justify mt-3" [innerHtml]="groupSection.content"></div>
    <div class="row">
        <div class="col-md-3" *ngFor="let section of sections">
            <figure>
                <a routerLink="/section/{{ section.title }}"><img class="mainImgSection" src="{{ section.mainImgUrl }}"
                        alt="{{ section.title }} image"></a>
                <figcaption class="text-center textUnderPhoto">{{ section.title | titlecase }}</figcaption>
            </figure>
        </div>
    </div>
</div>

<div>
    <figure [@changeOpacity]=currentState class="loadingFigure">
        <img class="loadingImg" src="assets/images/img/spinner.gif">
    </figure>
</div>