<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="sectionForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="content">Contenu</label>
            <ckeditor [config]="{ allowedContent : true }" id="content" formControlName="content"></ckeditor>
        </div>
        <div class="form-group">
            <label for="isVisibleInMenu">Visible dans le menu</label>
            <select id="isVisibleInMenu" class="form-control" formControlName="isVisibleInMenu">
                <option value="true">Oui</option>
                <option value="false">Non</option>
            </select>
        </div>
        <button class="btn btn-primary mb-3" type="submit" [disabled]="sectionForm.invalid && !alreadySubmitted">Soumettre</button>
    </form>
</div>