<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="sectionForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="content">Contenu</label>
            <input type="text" class="form-control" id="content" formControlName="content">
        </div>
        <!-- <div formArrayName="hobbies">
            <h3>Vos hobbies</h3>
            <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls, let i = index">
                <input type="text" class="form-control" [formControlName]="i">
                <button type="button" class="btn btn-danger" (click)="onDeleteHobby(i)">Delete ce hobby</button>
            </div>
            <button type="button" class="btn btn-success" (click)="onAddHobby()">Ajouter un hobby</button>
        </div> -->
        <button class="btn btn-primary" type="submit" [disabled]="sectionForm.invalid">Soumettre</button>
    </form>
</div>