<div *ngIf="getHeaderAndFooter()">
    <app-header></app-header>
    <div class="container" *ngIf="page && isPageContact">
        <div [innerHtml]="page.content"></div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmitMailForm()">
            <div class="form-group">
                <label for="name">Votre nom</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="subject">Sujet du mail</label>
                <input type="text" class="form-control" id="subject" formControlName="subject">
            </div>
            <div class="form-group">
                <label for="email">Votre adresse e-mail</label>
                <input type="text" class="form-control" id="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="message">Votre message</label>
                <textarea class="form-control" id="message" formControlName="message"></textarea>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="container" *ngIf="page && isPagePrice">
        <div [innerHtml]="page.content"></div>
        <ng-container *ngIf="prices">
            <div class="row">
                <div class="col-md-3" *ngFor="let price of prices, let i = index">
                    <h2>{{ price.priceTitle }}</h2>
                    <figure>
                        <img class="imgPrice" src={{price.priceImgUrl}} alt={{price.priceTitle}}>
                    </figure>
                    <div [innerHtml]="price.content"></div>
                    <div class="line text-center" ></div>
                    <div>Tarif : {{ price.priceNumber }}</div>
                </div>
            </div>
        </ng-container>


    </div>
    <app-footer></app-footer>
</div>

<div *ngIf="!getHeaderAndFooter() && page">
    <div class="container-fluid">
        <figure class="homeFigure">
            <img class="homeImg" src="{{page.mainImgUrl}}" />
            <figcaption class="homeFigcaption">
                <div><a class="homeLink" routerLink="/section/portrait">Anne Lods Photographie</a></div>
                <div><a class="homeLink" routerLink="/section/portrait">Entrez</a></div>
            </figcaption>
        </figure>
    </div>
</div>

<div *ngIf="loading">
    <figure class="loadingFigure">
        <img class="loadingImg" src="assets/images/img/hug.gif">
    </figure>
</div>