<div #target></div>
<div *ngIf="getHeaderAndFooter()">
    <app-header></app-header>
    <div class="container" *ngIf="page && isPageContact">
        <div class="row mt-3">
            <figure class="col-md-4 col-12 offset-md-2">
                <img class="imgAnneContact" src="{{page.mainImgUrl}}">
            </figure>
            <div class="col-md-4 col-12 text-justify" [innerHtml]="page.content"></div>
            <div class="col-md-8 offset-md-2 col-12 text-justify mt-3" [innerHtml]="page.content2"></div>
            <form class="col-md-12 mt-3" [formGroup]="contactForm" (ngSubmit)="onSubmitMailForm()">
                <div class="col-12 col-sm-6 offset-sm-3 form-group">
                    <label for="name">Votre nom</label>
                    <input type="text" class="form-control inputContact" id="name" formControlName="name">
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 form-group">
                    <label for="subject">Sujet du mail</label>
                    <input type="text" class="form-control inputContact" id="subject" formControlName="subject">
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 form-group">
                    <label for="email">Votre adresse e-mail</label>
                    <input type="text" class="form-control inputContact" id="email" formControlName="email">
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 form-group">
                    <label for="message">Votre message</label>
                    <textarea class="form-control inputContact" id="message" formControlName="message"></textarea>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid || alreadySubmitted">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container" *ngIf="page && isPagePrice">
        <div class="col-md-8 offset-md-2 col-12 text-justify mt-3" [innerHtml]="page.content"></div>
        <ng-container *ngIf="prices">
            <div class="row">
                <div class="col-md-3" *ngFor="let price of prices, let i = index">
                    <h2 class="priceTitle text-center">{{ price.priceTitle }}</h2>
                    <figure>
                        <img class="imgPrice" src={{price.priceImgUrl}} alt={{price.priceTitle}}>
                    </figure>
                    <div class="text-justify" [innerHtml]="price.content"></div>
                    <div class="line"></div>
                    <div class="text-center">Tarif : {{ price.priceNumber }} €</div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="container" *ngIf="page && (isPageConf || isPageLegal)">
        <div class="col-md-8 offset-md-2 col-12 text-justify mt-3" [innerHtml]="page.content"></div>
    </div>
    <app-footer></app-footer>
</div>

<div *ngIf="!getHeaderAndFooter() && page">
    <div class="container-fluid">
        <figure class="homeFigure">
            <img class="homeImg" src="{{page.mainImgUrl}}" />
            <figcaption class="homeFigcaption">
                <div><a class="homeLink homeLinkAnne" routerLink="/section/portrait">Anne Lods</a></div>
                <div><a class="homeLink" routerLink="/section/portrait">Entrez</a></div>
            </figcaption>
        </figure>
    </div>
</div>

<div>
    <figure [@changeOpacity]=currentState class="loadingFigure">
        <img class="loadingImg" src="assets/images/img/spinner.gif">
    </figure>
</div>

<div (window:resize)="onResize($event)"></div>

<div (window:scroll)="onScroll($event)"></div>
<button id="btnScrollUp" class="btnScrollUp" (click)="scrollToElement(target)" *ngIf="displayButtonScroll"><i
        class="fa fa-chevron-up" aria-hidden="true"></i></button>