// HOME

.homeFigure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    margin-bottom: 0;
}

.homeImg {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.homeFigcaption {
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.homeLink,
.homeLink:hover,
.homeLink:visited {
    color: white;
    font-size: 40px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 10px;
}

// PRICES

.imgPrice{
    width:100%;
}

.line{
    width:80%;
    background-color: gray;
    height: 1px;
}