<div class="sectionContainer container-fluid">
    <div class="row">
        <div class="container mt-3 mb-3" *ngIf="section">
            <ngx-masonry
                [options]="{ fitWidth: true, horizontalOrder: true, containerStyle:{position:'relative', margin:'auto'} }"
                *ngIf="photosInTheSection && !innerWidthMobile">
                <!-- ng-container -->
                <div ngxMasonryItem class="photoContainer" *ngFor="let photo of photosInTheSection, let i = index">
                    <figure class="figurePhotoLandscape" *ngIf="photo.typeOfPhoto === 'landscape'">
                        <img class="landscapeImg lazy" data-src="{{photo.photoImgUrl}}" alt="{{photo.photoTitle}}"
                            (click)="onShowSlide(i)" *ngIf="photo.typeOfPhoto === 'landscape'">
                    </figure>
                    <figure class="figurePhotoPortrait" *ngIf="photo.typeOfPhoto === 'portrait'">
                        <img class="portraitImg lazy" data-src="{{photo.photoImgUrl}}" alt="{{photo.photoTitle}}"
                            (click)="onShowSlide(i)" *ngIf="photo.typeOfPhoto === 'portrait'">
                    </figure>
                </div>
            </ngx-masonry>
            <div *ngIf="photosInTheSection && innerWidthMobile">
                <ng-container *ngFor="let photo of photosInTheSection, let i = index">
                    <div class="text-center">
                        <figure class="figurePhotoLandscape" *ngIf="photo.typeOfPhoto === 'landscape'">
                            <img class="landscapeImg lazy" data-src="{{photo.photoImgUrl}}" alt="{{photo.photoTitle}}"
                                (click)="onShowSlide(i)" *ngIf="photo.typeOfPhoto === 'landscape'">
                        </figure>
                        <figure class="figurePhotoPortrait" *ngIf="photo.typeOfPhoto === 'portrait'">
                            <img class="portraitImg lazy" data-src="{{photo.photoImgUrl}}" alt="{{photo.photoTitle}}"
                                (click)="onShowSlide(i)" *ngIf="photo.typeOfPhoto === 'portrait'">
                        </figure>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div>
    <figure class="loadingFigure">
        <img class="loadingImg" src="assets/images/img/spinner.gif">
    </figure>
</div>

<div *ngIf="showSlide && photosInTheSection">
    <div class="divExit">
        <button (click)="onExitSlide()"><i class="fa fa-times"></i></button>
    </div>
    <app-slide [listImages]="photosInTheSection" [imageSelected]="imageSelected"></app-slide>
</div>