button{
    border:none;
    background-color: white;
}

.sectionContainer {
    padding: 10px 0 10px 0;
    animation-name: progressiveDisplay;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

@keyframes progressiveDisplay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sectionTitleDiv {
    background-color: #f3e6dd;
    width: 100%;
}

.photoContainer {
    // margin: 0 auto;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.landscapeImg,
.portraitImg {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
}

.landscapeImg {
    height: 200px;
}

.portraitImg {
    height: 450px;
}

.figurePhotoLandscape,
.figurePhotoPortrait {
    margin-bottom: 0px;
}

.divExit {
    text-align: right;
    width: 100%;
    padding: 5px 5px 0 0;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

@media all and (max-width: 845px) {
    .figurePhotoLandscape,
    .figurePhotoPortrait {
        margin-bottom: 10px;
    }
    .landscapeImg,
    .portraitImg {
        width: 300px;
    }
}
