<div class="sectionContainer container-fluid">
    <div class="sectionTitleDiv">
        <h1 *ngIf="section">{{ section.title | titlecase }}</h1>
    </div>
    <div *ngIf="section">
        <figure *ngIf="section.mainImgUrl"><img class="mainImg" src="{{ section.mainImgUrl }}" alt=""></figure>
        <div class="mt-3 mb-3" *ngIf="photosInTheSection">

        </div>
    </div>
</div>

<div *ngIf="loading">
    <figure class="loadingFigure">
        <img class="loadingImg" src="assets/images/img/hug.gif">
    </figure>
</div>