.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: rgb(255, 187, 187) !important;
    border-color : rgb(255, 187, 187) !important;
    box-shadow: none !important;
}