<div class="container text-center mt-3">
    <table class="tableSections table table-bordered table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let groupSection of groupSections">
                <td>{{ groupSection.title }}</td>
                <td>
                    <a routerLink="editGroupSection/{{ groupSection._id }}" class="mr-3"><button
                            class="btn btn-primary">Modifier</button></a>
                    <button class="btn btn-danger" (click)="onDelete(groupSection._id)">Supprimer</button>
                </td>

            </tr>
        </tbody>
    </table>
    <div><a routerLink="createGroupSection"><button class="btn btn-success">Créer un groupSection</button></a></div>
    <div class="mt-3"><a routerLink="/admin"><button class="btn btn-primary">Retour Admin</button></a></div>
</div>