<div class="divSlideContainer">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-1 divBtn">
                <button class="previousBtn" id="previousBtn" (click)="onPrevious()" (keydown.arrowleft)="onPrevious()" (keydown.arrowright)="onNext()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-10 divFigureContainer">
                <figure *ngIf="isActualImage">
                    <img [@changeOpacity]=currentState1 class="imgSlide {{image1.typeOfPhoto}}" src="{{image1.photoImgUrl}}" alt="{{image1.photoTitle}}Image">
                    <img [@changeOpacity]=currentState2 class="imgSlide {{image2.typeOfPhoto}}" src="{{image2.photoImgUrl}}" alt="{{image2.photoTitle}}Image">
                </figure>
            </div>
            <div class="col-md-1 divBtn">
                <button class="nextBtn" (click)="onNext()" (keydown.arrowleft)="onPrevious()" (keydown.arrowright)="onNext()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>