<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="groupSectionForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="sectionsIds">Sections à mettre dans le groupe</label>
            <select id="sectionsIds" class="form-control" formControlName="sectionsIds" multiple>
                <option *ngFor="let section of sections" value="{{ section._id }}">{{ section.title | titlecase }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="isVisibleInMenu">Visible dans le menu</label>
            <select id="isVisibleInMenu" class="form-control" formControlName="isVisibleInMenu">
                <option value="true">Oui</option>
                <option value="false">Non</option>
            </select>
        </div>
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" type="submit" [disabled]="groupSectionForm.invalid && !alreadySubmitted">Soumettre</button>
        </div>
        
    </form>
</div>