// input[type="file"] {
//     visibility: hidden;
//   }

.titleSectionEdit{
    color: #fdccff;
}

.photoObjectContainer{
    padding: 5px;
}

.photoObjectBorder{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    min-height: 570px;
}


