/* You can add global styles to this file, and also import other style files */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: rgb(255, 187, 187) !important;
    border-color : rgb(255, 187, 187) !important;
    box-shadow: none !important;
}

.image-preview {
    img {
        max-width: 100%;
    }
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
}

.container{
    padding-bottom: 10px;
    padding-top: 10px;
}

.loadingFigure {
    height: 100vh;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.loadingImg {
    width:250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}