<div class="container text-center mt-3">
    <table class="tableSections table table-bordered table-striped">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let section of sections">
                <!-- <td>{{ section._id }}</td> -->
                <td>{{ section.title }}</td>
                <td><a routerLink="editSection/{{ section._id }}" class="mr-3"><button class="btn btn-primary">Modifier</button></a>
                    <button class="btn btn-danger" (click)="onDelete(section._id)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div><a routerLink="createSection"><button class="btn btn-success mt-3">Créer une section</button></a></div>
    <div class="mt-3"><a routerLink="/admin"><button class="btn btn-primary">Retour Admin</button></a></div>
</div>