<div class="col-sm-9 offset-sm-3 mt-3">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Adresse mail</label>
            <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label for="password">Confirmation du mot de passe</label>
            <input type="password" id="password" class="form-control" formControlName="password2">
        </div>
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary mb-3" type="submit" [disabled]="userForm.invalid">Soumettre</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <p class="text-danger">{{ errorMessage | json }}</p>
    </div>
</div>